/************************************************************************************
 * aegis特有の設定のうち、画面全体の設定など
*************************************************************************************/

/*画面サイズの定義*/
.stage{
 	background: -webkit-gradient(linear, left top, left bottom, from(#70BED5), color-stop(0.35,#DDFCF4),color-stop(0.36,#D7FCB9), to(#4EAB38));
}


/*カード表示部分*/
.card_box {
	width:315px; 
	height:100px;  
	border: solid 3px #436970;
	background-color: #c4d9de;
	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c4d9de), to(#99bec7),color-stop(0.5, #778d92));
	background-repeat:no-repeat;
	box-decoration-break:slice;
    font-family: "ＭＳ ゴシック",sans-serif;
}





/************************************************************************************
 * アバターアニメーション　使用
*************************************************************************************/


/*アバターアニメーション定義*/
#Avatar{ 
	-webkit-animation-name: Avatar_action;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-iteration-count: infinite;
	position : absolute ; top : 150px ; left :-20px ;
}
	
/*アバターアニメーション中身*/	
@-webkit-keyframes Avatar_action {
	0% {
	-webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1.1, 1);

-webkit-animation-timing-function: ease-out;
 }
 48.67% {
	-webkit-transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.0, 1);

-webkit-animation-timing-function: ease;
 }
 100% {
	-webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1.1, 1);

-webkit-animation-timing-function: ease;
 }
	}
	
/************************************************************************************
 * タイトルロゴ　使用
*************************************************************************************/

.title_effect {
	position: absolute;
	width: 50px;
	height: 1000px;
	background-color: rgba(255,255,255,0.95);
	top: -100px;
	-webkit-transform: rotate(-10deg);
	-webkit-animation-name: title_animation;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes title_animation {
	0% { left: 0; }
	100% { left : 380px; } 
}


