/************************************************************************************
 * アプリケーション全体で使用するCSSを記述する
*************************************************************************************/


*{
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Androidタッチリンク削除 */
}

body {
	-webkit-user-select: none;
}
/*画面サイズの定義*/
.stage{
 	/*background: -webkit-gradient(linear, left top, left bottom, from(#70BED5), color-stop(0.35,#DDFCF4),color-stop(0.36,#D7FCB9), to(#4EAB38));*/
 	/*background: url("../img/back.png") no-repeat;*/
}
