/************************************************************************************
 * gte.game.module.js　使用
*************************************************************************************/
* {
	padding: 0;
	margin: 0;
}

body {
	-webkit-user-select: none;
}

/************************************************************************************
 * gte.game.module.Prompt
*************************************************************************************/

/*プロンプト定義*/
.prompt{
	padding: 10px 50px 10px 15px;
	border-radius: 8px;

	background-color: black;
	color: white;
	opacity: 0.8;
}
.prompt > .message {
    font-family: "メイリオ", sans-serif;
    font-size: 18px;
	line-height:23px;

	overflow : hidden;
}
.prompt > .indicator {
	display : block;

	position : absolute;
	bottom : 8px;
	right : 8px;
	
	-webkit-animation-name : Indicator_blink;
	-webkit-animation-iteration-count : infinite;
	-webkit-animation-timing-function : linear;
	-webkit-animation-duration : 1s;
	-webkit-animation-direction : normal;
}
@-webkit-keyframes Indicator_blink {
	0% { opacity:1.0; }
	49.99% { opacity:1.0; }
	50% { opacity:0.0; }
	99.99% { opacity:0.0; }
	100% { opacity:1.0; }
}

/************************************************************************************
 * gte.game.module.Button
*************************************************************************************/
/*ボタン定義*/
.button{
	padding: 10px;
    color: #ffffff;

    font-family: "メイリオ",sans-serif;
    font-size: 25px;

    text-shadow: 2px 2px 2px #000;
    text-align: center;
   	border: solid 1px #436970;
	
    background-color: #c4d9de;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c4d9de), to(#99bec7),color-stop(0.5, #778d92));   
    -webkit-box-shadow: 3px 3px 3px #293538;
	-webkit-border-radius:10px;	
}

.button:hover{
color:#ff0000;
}

/*ボタンアニメーション定義*/
.button_click{
	-webkit-animation-name: Button_action; 
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	/*position : absolute ; top : 120px ; left :270px ;*/
}

/*ボタンアニメーション中身*/
@-webkit-keyframes Button_action {
	0% {
	-webkit-transform: scale3d(1, 1, 1);

 }
 0.37% {
	-webkit-transform: scale3d(1, 1, 1);

 }
 3.1% {
	-webkit-transform: scale3d(1.4, 1.2, 1);

 }
 5.62% {
	-webkit-transform: scale3d(1, 1, 1);
 }
 100% {
	-webkit-transform: scale3d(1, 1, 1);

 }
}
/************************************************************************************
 * gte.game.module.Monster
*************************************************************************************/
/* Monsterオブジェクト用 CSS : 基本レイアウトのみ。モンスターアニメーションはmonster.css に記述 */
.monster > .info {
	font-family : sans-serif;
	font-size : 18px;
	line-height : 20px;
	top : 12px;
	left : 35px;
}

/************************************************************************************
 * gte.game.module.BattleField
*************************************************************************************/
/* スライドアニメーション定義・実体 */
/* 枠外からenemyをフォーカス */
.Field_encount {
    -webkit-animation-name : Field_encount;
    -webkit-animation-duration : 100ms;
    -webkit-animation-function : linear;
    -webkit-animation-count : 1;
}

/* 速め：150ミリ秒 */
.Field_rtl {
    -webkit-animation-name : Field_rtl;
    -webkit-animation-duration : 150ms;
    -webkit-animation-function : linear;
    -webkit-animation-iteration-count : 1;
}
.Field_ltr {
    -webkit-animation-name : Field_ltr;
    -webkit-animation-duration : 150ms;
    -webkit-animation-function : linear;
    -webkit-animation-iteration-count : 1;
}
/* アニメーション実体 */
@-webkit-keyframes 'Field_encount' {
    from { left : -270px; } to { left : -570px; }
}
@-webkit-keyframes 'Field_rtl' {
    from {
        left : -570px;
    } to {
        left : 0px;
    }
}
@-webkit-keyframes 'Field_ltr' {
    from {
        left : 0px;
    } to {
        left : -570px;
    }
}

/************************************************************************************
 * gte.game.module.BgEffect
*************************************************************************************/
/* 三三三のアニメーション */
 .BgEffect_RtoL {
	-webkit-animation-name: BgEffect_RtoL;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes BgEffect_RtoL {
	0% {
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-animation-timing-function:linear;
	}
	100% {
	-webkit-transform: translate3d(-288px, 0px, 0px);
	-webkit-animation-timing-function:linear;
	}
}
 .BgEffect_LtoR {
	-webkit-animation-name: BgEffect_LtoR;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes BgEffect_LtoR {
	0% {
	-webkit-transform: translate3d(-288px, 0px, 0px);
	-webkit-animation-timing-function:linear;
	}
	100% {
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-animation-timing-function:linear;
	}
}
/* 透過背景 */
 .BgEffect_transition {
	-webkit-transition: 0.5s  0;
}

/************************************************************************************
 * macedonia / radial
*************************************************************************************/

/** マケドニア回転 / radial 回転 */
@-webkit-keyframes rotate {
  0% {-webkit-transform : rotate(0deg);}
  100% {-webkit-transform : rotate(360deg);}
}


/** マケドニア逆回転 / radial 回転 */
@-webkit-keyframes rotate_r {
  0% {-webkit-transform : rotate(0deg);}
  100% {-webkit-transform : rotate(-360deg);}
}

/** radial 光線の動き **/
@-webkit-keyframes zero_border {
  0% { -webkit-transform : scale(1,0); }
  1% { -webkit-transform : scale(1,1); }
  40% { -webkit-transform : scale(1,0); }
  100% { -webkit-transform : scale(1,0); }
}


/************************************************************************************
 * 下部ボタン
*************************************************************************************/
/* TODO: エフェクトもうちょっと凝りたい */
@-webkit-keyframes buttonZoom {
  0% {-webkit-transform : scale(1.1);}
  100% {-webkit-transform : scale(1);}
}
